body{
    background: #222;
    display: flex;
    padding: 0;
    margin: 0;
}

#tweetar{
    background-color: none;
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;

}

#formu{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;margin-top: 1vh;
}

#texto input:placeholder{
    color: white;
}

#texto{
    background: #333;
    width: 105%;
    height: 10vh;
    color: white;
    border-radius: 2vw;
    border: skyblue solid 1px;
    font-size: 1em;
}

#texto:focus{
    background: rgb(0, 183, 255);
    border: blue;
    color: white;
}

#botao{
    align-self: flex-end;
    width: 30%;
    height: 5vh;
    border: solid skyblue 1px;
    background: none;
    border-radius: 8vh;
    margin: 1vh;
    color: white;
}
#botao:hover{
    cursor: pointer;
    background: #333;
    color: skyblue;
}

.divtt{
    background: #333;
    width: 90%;
    height: 10vh;
    border: 1px solid black;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    box-sizing: border-box;
    margin: 1vh;
    padding-right: 100px;
    align-self: start;
}

#tweets{
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
}


.lbar{
    width: 20vw;
    height: 100VH;
    background: #222;
    content: none;
    position: sticky;
    top: 0;
    border: 3px solid #111;
    display: flex;
    justify-content: start;
    align-items: start;
    color: white;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1vw;

}
.rbar{
    width: 30vw;
    height: 100vh;
    position: sticky;
    top: 0;
    background: #222;
    border: solid 3px #111;
}


.lbar > span{
    font-size: 2vw;
    margin-bottom: 10vh;
    margin-top: 5vh;
    letter-spacing: 0.2em;
    padding-left: 2vw;
}

#opçoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#perfil, #config, #modo{
    color: white;
    margin: 5vh auto;
    font-size: 1em;
    width: 15vw;
    height: 5vh;
    border: 1px solid skyblue;
    background: none;
    border-radius: 2vh;
    transition: 0.3s;
}

#perfil:hover, #config:hover, #modo:hover{
    cursor: pointer;
    background: #333;
    color: skyblue;
    height: 10.5vh;
    transition: 0.3s;
}